html {
	font-size: 12px;
}
main,footer {
	width: 70%; 
	margin: auto; 
}
header {
	height: 50%;
	text-align: center;
	padding: 5%;
	background: #00aa00;
	color: white;
	margin-bottom: 20px;
}
h1 {
	font-weight: bold;
}
.content {
	position: relative;
	left: 10px;
}