html {
	font-size: 12px;
}
main,footer {
	width: 70%; 
	margin: auto; 
}
header {
	height: 50%;	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("retro-fields-abstract-red-header-7145.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;		
	padding: 5%;
	margin-bottom: 20px;
}
h1 {
	font-weight: bold;
	text-align: center;
	color: white;
}
.content {
	position: relative;
	left: 10px;
}